<h1>Create Entry</h1>
<br>
<form action="/entry" method="post">

    <label for="name">Name</label>
    <input type="name" name="name" id="name" placeholder="Enter Name">
    <br>
    <label for="defination">Defination</label>
    <textarea name="defination" id="" cols="30" rows="10" id="defination" placeholder="defination"></textarea>
<!--    <input type="text" id="defination" name="defination" placeholder="Defination">-->
    <br>
    <label for="count">Count</label>
    <input type="number" name="count" id="count" placeholder="count">
    <br>
    <button type="submit">Create</button>
</form>